.currentforecast {
  .currentforecast__location {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1rem;
    @include mq(768px) {
      font-size: 1.3rem;
    }
  }

  .currentforecast__condition {
    padding-top: 20px;
  width: 100%;
  font-size: 0.9rem;
  margin: auto auto 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

 
  .temp {
    @include flexCenter;
    grid-row: 1 / span 2;
    grid-column: 1;
    font-size: 2.5rem;
    text-shadow: 0.5px 0 2px $text-shadow-color;
    position: relative;

    .unit {
      font-size: 0.8rem;
      position: absolute;
      top: 60%;
      left: 70%;
      color: $fadecolor;
      text-shadow: 0.5px 0 2px $text-shadow-color;
    }
  }

  .icon {
    margin-top: 0.8rem;
    @include flexCenter;
    grid-row: 1;
    grid-column: 2;

    i {
      font-size: 1.8rem;
    }
  }

  .maxtemp {
    margin-top: 0.3rem;
    @include flexCenter;
    grid-row: 2;
    grid-column: 2;
  }

  .mintemp {
    margin-top: 0.3rem;
    @include flexCenter;
    grid-row: 3;
    grid-column: 2;
  }

  .desc {
    margin-top: 1rem;
    @include flexCenter;
    grid-row: 4;
    grid-column: 1 / span 2;
    text-shadow: 1px 0 5px $text-shadow-color;
  }

  .feels {
    margin-top: 0.8rem;
    @include flexCenter;
    grid-row: 5;
    grid-column: 1 / span 2;
    font-weight: normal;
  }

  .humidity,
  .wind {
    margin-top: 0.8rem;
    @include flexCenter;
    grid-column: 1 / span 2;
    font-weight: normal;
  }

  .humidity { grid-row: 6; }
  .wind { grid-row: 7; }

  @include mq(768px) {
    font-size: 1.1rem;
    gap: 1rem;

    .temp {
      font-size: 4rem;

      .unit {
        font-size: 1rem;
        left: 75%;
      }
    }

    .icon i {
      font-size: 2.5rem;
      @include mq(768px) {
        font-size: 2.8rem;
      }
    }
  }

  
  @include mq(1024px) {
    .temp {
      font-size: 5rem;
    }

    .icon i {
      font-size: 3rem;
    }
  }
}
}